@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
/* 
For clip-path and rotation on Intro Image:
className="blob rot" 
*/

    .blob {
        clip-path: url(#inline-blob);
      }
      
      @keyframes rot_kf {
        from { transform: rotate(0deg); }
        to   { transform: rotate(360deg); }
      }
      
      .rot {
        animation: rot_kf 4s linear infinite;
        animation-play-state: running;
      }
      
      .rot:not(:hover) {
        animation-play-state: paused;
      }
}

html, body {
  --line-color: #e5e7eb;
  overflow-x: hidden;
}